header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid #7f8c8d;
    padding: 10px 15px;
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.logo > p {
    font-size: 25px;
    font-weight: bold;
    margin: 0 40px;
    /* border: ridge; */
    padding: 5px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-right: 40px;
}

.list > li,
.hamburger {
    padding: 14px 16px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    font-weight: bold;
    transition: all 0.2s;
    list-style: none;
}

.list li:hover,
.hamburger:hover {
    background-color: #a7cdd6;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 760px) {
    .hamburger {
        display: block;
    }
    .list > li {
        display: none;
    }
}
